In [ ]:
!pip install --user pandas 
!pip install --user numpy 
conda install pandas

In [4]:
import pandas as pd
cars_rating = {
    'cars' : ['BMW', "Audi", "Tesla", "tata", "Suzuki"],
    'rating' : [4,5,6,9,1]
}

In [5]:
cars_rating

{'cars': ['BMW', 'Audi', 'Tesla', 'tata', 'Suzuki'], 'rating': [4, 5, 6, 9, 1]}

In [6]:
cars_rating.keys()

dict_keys(['cars', 'rating'])

In [7]:
cars_rating.values()

dict_values([['BMW', 'Audi', 'Tesla', 'tata', 'Suzuki'], [4, 5, 6, 9, 1]])

In [8]:
cars_value = pd.DataFrame(cars_rating)

In [9]:
cars_value

     cars  rating
0     BMW       4
1    Audi       5
2   Tesla       6
3    tata       9
4  Suzuki       1

In [10]:
cars_value.head()

     cars  rating
0     BMW       4
1    Audi       5
2   Tesla       6
3    tata       9
4  Suzuki       1

In [11]:
cars_value.tail()

     cars  rating
0     BMW       4
1    Audi       5
2   Tesla       6
3    tata       9
4  Suzuki       1

In [13]:
cars_value.isnull().sum().sum()

0

In [14]:
cars_value[cars_value.cars == 'Tesla']

    cars  rating
2  Tesla       6

In [38]:
dataset = pd.read_excel(r"C:\Users\USER\Downloads\Untitled Folder\Data\Retail.xlsx", engine='openpyxl')
dataset.head()

C:\Users\USER\.conda\envs\cvenv\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2018-138688,2018-06-12,2018-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [18]:
dataset.shape

(9994, 21)

In [19]:
dataset.columns.__len__()

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [20]:
dataset.columns.__len__()

21

In [23]:
dataset[dataset['Sub-Category'] == "Bookcases"].__len__()

228

In [24]:
dataset['Sub-Category'].value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: Sub-Category, dtype: int64

In [26]:
dataset[dataset['Sub-Category'] == "Bookcases"]['Profit'].sum()

-3472.556000000003

In [27]:
dataset[dataset['Sub-Category'] == "Bookcases"]['Quantity'].sum()

868

In [29]:
import numpy as np 
np.round(dataset[dataset['Sub-Category'] == "Bookcases"]['Quantity'].mean())

4.0

In [31]:
dataset.isnull().sum()

Row ID             0
Order ID           0
Order Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Customer Name      0
Segment            0
Country/Region     0
City               0
State              0
Postal Code       11
Region             0
Product ID         0
Category           0
Sub-Category       0
Product Name       0
Sales              0
Quantity           0
Discount           0
Profit             0
dtype: int64

In [35]:
dataset['Postal Code'] = dataset['Postal Code'].fillna(70000, inplace=True)

In [36]:
dataset.isnull().sum()

Row ID               0
Order ID             0
Order Date           0
Ship Date            0
Ship Mode            0
Customer ID          0
Customer Name        0
Segment              0
Country/Region       0
City                 0
State                0
Postal Code       9994
Region               0
Product ID           0
Category             0
Sub-Category         0
Product Name         0
Sales                0
Quantity             0
Discount             0
Profit               0
dtype: int64

In [37]:
dataset['Postal Code']

0       None
1       None
2       None
3       None
4       None
        ...
9989    None
9990    None
9991    None
9992    None
9993    None
Name: Postal Code, Length: 9994, dtype: object

In [39]:
dataset.isnull().sum()

Row ID             0
Order ID           0
Order Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Customer Name      0
Segment            0
Country/Region     0
City               0
State              0
Postal Code       11
Region             0
Product ID         0
Category           0
Sub-Category       0
Product Name       0
Sales              0
Quantity           0
Discount           0
Profit             0
dtype: int64

In [40]:
dataset_new = dataset.fillna(method='ffill')

In [41]:
dataset_new.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country/Region    0
City              0
State             0
Postal Code       0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
dtype: int64

In [43]:
g = dataset.groupby('Segment')

In [44]:
for i, data in g:
    print(i)
    print(data)
    print("***********************")

Consumer
      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2018-152156 2018-11-08 2018-11-11    Second Class
1          2  CA-2018-152156 2018-11-08 2018-11-11    Second Class
3          4  US-2017-108966 2017-10-11 2017-10-18  Standard Class
4          5  US-2017-108966 2017-10-11 2017-10-18  Standard Class
5          6  CA-2016-115812 2016-06-09 2016-06-14  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2016-110422 2016-01-21 2016-01-23    Second Class
9990    9991  CA-2019-121258 2019-02-26 2019-03-03  Standard Class
9991    9992  CA-2019-121258 2019-02-26 2019-03-03  Standard Class
9992    9993  CA-2019-121258 2019-02-26 2019-03-03  Standard Class
9993    9994  CA-2019-119914 2019-05-04 2019-05-09    Second Class

     Customer ID     Customer Name   Segment Country/Region             City  \
0       CG-12520       Claire Gute  Consumer  United States        Henderson
1       CG-12520       Claire Gute  Consumer  United States        Henderson
3       SO-20335    Sean O'Donnell  Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell  Consumer  United States  Fort Lauderdale
5       BH-11710   Brosina Hoffman  Consumer  United States      Los Angeles
...          ...               ...       ...            ...              ...
9989    TB-21400  Tom Boeckenhauer  Consumer  United States            Miami
9990    DB-13060       Dave Brooks  Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks  Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks  Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes  Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     ...     42420.0   South  FUR-CH-10000454        Furniture       Chairs
3     ...     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     ...     33311.0   South  OFF-ST-10000760  Office Supplies      Storage
5     ...     90032.0    West  FUR-FU-10001487        Furniture  Furnishings
...   ...         ...     ...              ...              ...          ...
9989  ...     33180.0   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...     92627.0    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...     92627.0    West  TEC-PH-10003645       Technology       Phones
9992  ...     92627.0    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...     92683.0    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
5     Eldon Expressions Wood and Plastic Desk Access...   48.8600         7
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
3         0.45 -383.0310
4         0.20    2.5164
5         0.00   14.1694
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[5191 rows x 21 columns]
***********************
Corporate
      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
2          3  CA-2018-138688 2018-06-12 2018-06-16    Second Class
21        22  CA-2018-137330 2018-12-09 2018-12-13  Standard Class
22        23  CA-2018-137330 2018-12-09 2018-12-13  Standard Class
35        36  CA-2018-117590 2018-12-08 2018-12-10     First Class
36        37  CA-2018-117590 2018-12-08 2018-12-10     First Class
...      ...             ...        ...        ...             ...
9964    9965  CA-2018-146374 2018-12-05 2018-12-10    Second Class
9965    9966  CA-2018-146374 2018-12-05 2018-12-10    Second Class
9966    9967  CA-2018-146374 2018-12-05 2018-12-10    Second Class
9987    9988  CA-2019-163629 2019-11-17 2019-11-21  Standard Class
9988    9989  CA-2019-163629 2019-11-17 2019-11-21  Standard Class

     Customer ID    Customer Name    Segment Country/Region         City  ...  \
2       DV-13045  Darrin Van Huff  Corporate  United States  Los Angeles  ...
21      KB-16585        Ken Black  Corporate  United States      Fremont  ...
22      KB-16585        Ken Black  Corporate  United States      Fremont  ...
35      GH-14485        Gene Hale  Corporate  United States   Richardson  ...
36      GH-14485        Gene Hale  Corporate  United States   Richardson  ...
...          ...              ...        ...            ...          ...  ...
9964    HE-14800     Harold Engle  Corporate  United States       Newark  ...
9965    HE-14800     Harold Engle  Corporate  United States       Newark  ...
9966    HE-14800     Harold Engle  Corporate  United States       Newark  ...
9987    RA-19885     Ruben Ausman  Corporate  United States       Athens  ...
9988    RA-19885     Ruben Ausman  Corporate  United States       Athens  ...

     Postal Code   Region       Product ID         Category Sub-Category  \
2        90036.0     West  OFF-LA-10000240  Office Supplies       Labels
21       68025.0  Central  OFF-AR-10000246  Office Supplies          Art
22       68025.0  Central  OFF-AP-10001492  Office Supplies   Appliances
35       75080.0  Central  TEC-PH-10004977       Technology       Phones
36       75080.0  Central  FUR-FU-10003664        Furniture  Furnishings
...          ...      ...              ...              ...          ...
9964     19711.0     East  FUR-FU-10002671        Furniture  Furnishings
9965     19711.0     East  OFF-PA-10000349  Office Supplies        Paper
9966     19711.0     East  OFF-EN-10004483  Office Supplies    Envelopes
9987     30605.0    South  TEC-AC-10001539       Technology  Accessories
9988     30605.0    South  TEC-PH-10004006       Technology       Phones

                                           Product Name     Sales  Quantity  \
2     Self-Adhesive Address Labels for Typewriters b...    14.620         2
21                                           Newell 318    19.460         7
22          Acco Six-Outlet Power Strip, 4' Cord Length    60.340         7
35                                          GE 30524EE4  1097.544         7
36    Electrix Architect's Clamp-On Swing Arm Lamp, ...   190.920         5
...                                                 ...       ...       ...
9964  Electrix 20W Halogen Replacement Bulb for Zoom...    13.400         1
9965                                  Easy-staple paper     4.980         1
9966         #10 White Business Envelopes,4 1/8 x 9 1/2   109.690         7
9987  Logitech G430 Surround Sound Gaming Headset wi...    79.990         1
9988                    Panasonic KX - TS880B Telephone   206.100         5

      Discount    Profit
2          0.0    6.8714
21         0.0    5.0596
22         0.0   15.6884
35         0.2  123.4737
36         0.6 -147.9630
...        ...       ...
9964       0.0    6.4320
9965       0.0    2.3406
9966       0.0   51.5543
9987       0.0   28.7964
9988       0.0   55.6470

[3020 rows x 21 columns]
***********************
Home Office
      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
14        15  US-2017-118983 2017-11-22 2017-11-26  Standard Class
15        16  US-2017-118983 2017-11-22 2017-11-26  Standard Class
34        35  CA-2019-107727 2019-10-19 2019-10-23    Second Class
37        38  CA-2017-117415 2017-12-27 2017-12-31  Standard Class
38        39  CA-2017-117415 2017-12-27 2017-12-31  Standard Class
...      ...             ...        ...        ...             ...
9975    9976  US-2018-103674 2018-12-06 2018-12-10  Standard Class
9976    9977  US-2018-103674 2018-12-06 2018-12-10  Standard Class
9977    9978  US-2018-103674 2018-12-06 2018-12-10  Standard Class
9978    9979  US-2018-103674 2018-12-06 2018-12-10  Standard Class
9979    9980  US-2018-103674 2018-12-06 2018-12-10  Standard Class

     Customer ID  Customer Name      Segment Country/Region         City  ...  \
14      HP-14815  Harold Pawlan  Home Office  United States   Fort Worth  ...
15      HP-14815  Harold Pawlan  Home Office  United States   Fort Worth  ...
34      MA-17560   Matt Abelman  Home Office  United States      Houston  ...
37      SN-20710   Steve Nguyen  Home Office  United States      Houston  ...
38      SN-20710   Steve Nguyen  Home Office  United States      Houston  ...
...          ...            ...          ...            ...          ...  ...
9975    AP-10720     Anne Pryor  Home Office  United States  Los Angeles  ...
9976    AP-10720     Anne Pryor  Home Office  United States  Los Angeles  ...
9977    AP-10720     Anne Pryor  Home Office  United States  Los Angeles  ...
9978    AP-10720     Anne Pryor  Home Office  United States  Los Angeles  ...
9979    AP-10720     Anne Pryor  Home Office  United States  Los Angeles  ...

     Postal Code   Region       Product ID         Category Sub-Category  \
14       76106.0  Central  OFF-AP-10002311  Office Supplies   Appliances
15       76106.0  Central  OFF-BI-10000756  Office Supplies      Binders
34       77095.0  Central  OFF-PA-10000249  Office Supplies        Paper
37       77041.0  Central  OFF-EN-10002986  Office Supplies    Envelopes
38       77041.0  Central  FUR-BO-10002545        Furniture    Bookcases
...          ...      ...              ...              ...          ...
9975     90032.0     West  OFF-PA-10000743  Office Supplies        Paper
9976     90032.0     West  TEC-PH-10002496       Technology       Phones
9977     90032.0     West  OFF-FA-10003467  Office Supplies    Fasteners
9978     90032.0     West  OFF-BI-10003727  Office Supplies      Binders
9979     90032.0     West  OFF-BI-10002026  Office Supplies      Binders

                                           Product Name     Sales  Quantity  \
14    Holmes Replacement Filter for HEPA Air Cleaner...   68.8100         5
15     Storex DuraTech Recycled Plastic Frosted Binders    2.5440         3
34                                    Easy-staple paper   29.4720         3
37    #10-4 1/8" x 9 1/2" Premium Diagonal Seam Enve...  113.3280         9
38    Atlantic Metals Mobile 3-Shelf Bookcases, Cust...  532.3992         3
...                                                 ...       ...       ...
9975                                         Xerox 1977   13.3600         2
9976                                       Cisco SPA301  249.5840         2
9977           Alliance Big Bands Rubber Bands, 12/Pack   13.8600         7
9978  Avery Durable Slant Ring Binders With Label Ho...   13.3760         4
9979                  Ibico Recycled Linen-Style Covers  437.4720        14

      Discount    Profit
14        0.80 -123.8580
15        0.80   -3.8160
34        0.20    9.9468
37        0.20   35.4150
38        0.32  -46.9764
...        ...       ...
9975      0.00    6.4128
9976      0.20   31.1980
9977      0.00    0.0000
9978      0.20    4.6816
9979      0.20  153.1152

[1783 rows x 21 columns]
***********************

In [45]:
dataset.Segment.unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [46]:
dataset.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9983.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55245.233297,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32038.715955,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,57103.000000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000